build/
build-*/
cmake-build-*/
out/
dist/
install/
_deps/
vcpkg_installed/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
build.ninja
.ninja_deps
.ninja_log

*.o
*.obj
*.a
*.so
*.dylib
*.dll

!deps/GMP/gmp/lib/win-x64/libgmp-10.dll
!deps/GMP/gmp/lib/win-x86/libgmp-10.dll
!deps/MPFR/mpfr/lib/win-x64/libmpfr-4.dll
!deps/MPFR/mpfr/lib/win-x86/libmpfr-4.dll
!deps/WebView2/lib/win-arm64/WebView2Loader.dll
!deps/WebView2/lib/win-x64/WebView2Loader.dll
!deps/WebView2/lib/win-x86/WebView2Loader.dll
*.exe
!tools/msgfmt.exe
!tools/msgmerge.exe
!tools/xgettext.exe
*.app
*.log

.DS_Store
Thumbs.db

.vscode/
.idea/
